<%= @player.name %> vs. <%= @player2.name %>
<%= @player.name %>: <%=@player.hit_points %>HP<%= @player2.name %>: <%=@player2.hit_points %>HP
<form action="/attack">
  <input type="submit" value="Attack">
</form>